.filterBar{
    width: 100vw;
    display: flex;
    height: 78px;
    justify-content: space-evenly;
}

.filter{
   opacity: 0.6;
   height: 48px;
   display: flex;
   flex-direction: column;
   align-items: center;
   transition: 0.3s;
   cursor: pointer;
   border: none;
   background: none;
}

.filter img{
    width: 24px;
}

.line{
    visibility: hidden;
    width: 90%;
    border-bottom: 2px solid black;
    
}

.filter:hover .line, .filter:hover{
    visibility: visible;
    opacity: 1;
    zoom: 1;
}

.filter:click .line, .filter:click{
    visibility: visible;
    opacity: 1;
    zoom: 1;
}